<button [routerLink]="['/register']">+ Cadastrar novo usuario</button>

<table class="w-400 bg-white border border-gray-200 shadow-md rounded-lg overflow-hidden ml-5">
    <thead class="bg-gray-200 text-gray-700">
      <tr>
        <th class="py-3 px-6 text-left">CADASTRO</th>
        <th class="py-3 px-6 text-left">NOME</th>
        <th class="py-3 px-6 text-left">DATA</th>
        <th class="py-3 px-6 text-left">TELEFONE</th>
        <th class="py-3 px-6 text-left">E-MAIL</th>
        <th class="py-3 px-6 text-left">AÇÕES</th>
      </tr>
    </thead>
    <tbody class="text-gray-600">
      <tr class="border-b border-gray-200 hover:bg-gray-100">
        <td class="py-3 px-6 text-left">1</td>
        <td class="py-3 px-6 text-left">IGOR</td>
        <td class="py-3 px-6 text-left">27/06/2024</td>
        <td class="py-3 px-6 text-left">(35)998161532</td>
        <td class="py-3 px-6 text-left">IIIIIIIIIIIII</td>
        <td class="py-3 px-6 text-left"><mat-icon class="mr-3">visibility</mat-icon>
                                        <mat-icon class="mr-3">edit</mat-icon>
                                        <mat-icon class="mr-3">delete</mat-icon> 
        </td>
      </tr>
    </tbody>
  </table>
  